{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}
{% block stylesheets %}{% endblock %}

 {% block body %}
     <h2>Mon profil</h2>

     {{ form_start(participantForm) }}

     {{ form_widget(participantForm) }}
     <button>Enregistrer</button>
     {{ form_end(participantForm) }}

     <button>Annuler</button>
 {% endblock %}

 {% block javascripts %}{% endblock %}