{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}
{% block stylesheets %}{% endblock %}

 {% block body %}
     <p>page profil</p>
 {% endblock %}

 {% block javascripts %}{% endblock %}