:root {
    --color1: white;    /*textcolor for header and footer*/
    --color2: #026aa7;   /*background-color for header and footer*/
    font-size: 14px;
}

/*----- body disposition with 3 elements (header, main, footer) ------*/
html, body {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
main {
    flex-grow: 1;
    padding: 1vw;
}

/*----- header disposition -----*/
.app-header-wrapper {
    background-color: var(--color2);
    color: var(--color1);
}

/*----- responsive navbar -----*/
nav a {
    color: inherit;
    text-decoration: none;
    height: 1rem;
    padding: 1rem;
    cursor: pointer;
}
nav a:hover:not(:first-child) {
    background-color: var(--color1);
    color: var(--color2);
}
/* home link always displayed*/
nav a:first-child {
    display: block;
    position: relative;
    font-size: 2rem;
    height: 2rem;
    padding: 0.5rem 2rem;
}
/*others links, visible on large screens, or expanded with menu button on small screens*/
nav a:not(:first-child, :last-child) {
    display: none;
}
/*menu button, visible on small screens*/
nav a:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
nav.vertical-expanded a:not(:first-child, :last-child) {
    display: block;
}

@media screen and (min-width: 600px) {
    nav {
        display: flex;
    }
    nav a:first-child {
        flex-grow: 1;
    }
    nav a:not(:first-child, :last-child) {
        display: block;
    }
    nav a:last-child {
        display: none;
    }
}

/*----- footer disposition -----*/
footer {
    text-align: center;
    color: var(--color1);
    padding: 1rem;
}
.app-footer-wrapper {
    background-color: var(--color2);
}

/*----- color for message (error, success, etc...) -----*/
.app-flash-error {
    color: red;
}
.app-flash-success {
    color: green;
}

/*----- forms -----*/
form {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    justify-items: start;
}
form ul {
    color: red;
    list-style-type: none;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    padding-inline-start: 0;
}

/*----- desktop screens -----*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    /*----- forms -----*/
    form {
        grid-template-columns: repeat(2, max-content);
    }
    form label {
        grid-column: 1;
    }
    form input, form select {
        grid-column: 2;
    }
    form ul {
        grid-column: 1 / 3;
        margin: 0;
    }
    form button {
        grid-column: 2;
    }
    form .app-form-checkbox {
        grid-column: 2;
    }
}
@media screen and (min-width: 768px) {
    :root {
        font-size: 16px;
    }

    /*----- forms -----*/
    form {
        grid-template-columns: repeat(3, max-content);
    }
    form label {
        grid-column: 1;
    }
    form input, form select {
        grid-column: 2;
    }
    form ul {
        grid-column: 3;
        margin: 0;
    }
    form button {
        grid-column: 2;
    }
    form .app-form-checkbox {
        grid-column: 2;
    }
}
