{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Erreur
{% endblock %}

{% block body %}
    <h3>Erreur</h3>
    <p class="app-flash-error">Une erreur est survenue</p>
{% endblock %}