{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Erreur 403
{% endblock %}

{% block body %}
    <h3>Erreur 403</h3>
    <p class="app-flash-error">Accès réservé</p>
{% endblock %}