{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Erreur 404
{% endblock %}

{% block body %}
    <h3>Erreur 404</h3>
    <p class="app-flash-error">Cette page n'existe pas</p>
{% endblock %}